<!-- Footer -->
<footer class="bg-dark text-center text-white" >
  <!-- Grid container -->
  <div class="container pt-4">

    <section class="mb-1">
      <p>Find us in our Social Media!</p>
    </section>
    <!-- Section: Social media -->
    <section class="mb-2">
      <!-- Facebook -->
      <a class="btn btn-outline-primary btn-floating m-1" href="#facebook" role="button">
          <i class="fab fa-facebook-f"></i>
      </a>

      <!-- Twitter -->
      <a class="btn btn-outline-info btn-floating m-1" href="#twitter" role="button">
          <i class="fab fa-twitter"></i>
      </a>

      <!-- Instagram -->
      <a class="btn btn-outline-danger btn-floating m-1" href="#instagram" role="button">
          <i class="fab fa-instagram"></i>
      </a>
    </section>


  </div>

  <!-- Copyright -->
  <div class="text-center p-3">
    © {% now "Y" %} Copyright:
    <a class="text-white" href="{% url 'home' %}">PedometerApp.com</a>
  </div>
</footer>