{% extends 'pedometer/base.html' %}

{% block style %}
    <link rel="stylesheet" href="../../static/pedometer/home.css">
{% endblock %}


{% block content %}
    <section class="container-fluid">
        <section class="row justify-content-center">
            <div class="container-fluid bg-home">
                <div class="title-row">
                    <div class="row justify-content-center">
                        <h1 class="my-title">Welcome to Pedometer App</h1>
                    </div>
                    <div class="row justify-content-center">
                        <p style="font-style: italic">
                            Record your daily steps and watch your progress!!!

                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="row justify-content-center">
            <div class="col-md-3 bg-white home-block">
                <h2>Log</h2>
                <p>
                    Submit your steps for a specific date!
                    Complete the form and see your submission in the History page.
                </p>
            </div>
            <div class="col-md-3 bg-white home-block">
                <h2>History</h2>
                <p>
                    See all your submissions in a table!
                    All your submissions from the Log form are registered in this table.
                </p>
            </div>
            <div class="col-md-3 bg-white home-block">
                <h2>Charts</h2>
                <p>
                    Give a date range and see our charts with your submissions.
                    In the y-axis you can see your number of steps and in the x-axis
                    you can see the dates.

                </p>
            </div>
        </section>
    </section>
{% endblock %}

