.bg-home{
    background: #007bff;
    padding: 20px 20px;
    height: 40vh;
}

.bg-home1{
    background: whitesmoke;

}
.title-row{
    padding-top: 10vh;
}
.my-title{
    color: whitesmoke;
    text-align: center;
}

.home-block{
    box-shadow: 0 0 10px 0 #000;
    padding: 20px 20px;
    border-radius: 10px;
    margin: 20px 20px;
}

@media screen and (max-width: 991px) {
    .home-block{
        width: 85%
    }
}
@media screen and (max-width:  750px) {
    .home-block{
      width: 90%
    }
}